html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

.row {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding: 10px 0;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 2px; }
  h1:after, h2:after, h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ef2d56;
    width: 50px;
    height: 1px; }

.column {
  padding: 0 25px; }

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto; }
  .section-header .section-title {
    font-size: 50px;
    padding: 25px 0;
    margin: 0 0 75px 0;
    letter-spacing: 5px; }
    .section-header .section-title.text-center:after {
      left: calc(50% - 25px); }
  .section-header .section-icon {
    margin: 0;
    padding: 0;
    font-size: 40px; }

.btn-primary {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #ef2d56;
  border: 1px solid #ef2d56;
  border-radius: 0;
  padding: 0 25px; }
  .btn-primary:hover {
    background: #fd2348;
    border-color: #fd2348; }

.btn-secondary {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  border: 1px solid white;
  border-radius: 0;
  padding: 0 25px; }
  .btn-secondary:hover {
    background: white;
    border-color: white;
    color: black !important; }

.nav-tabs {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 25px; }
  .nav-tabs .nav-item {
    color: black;
    border: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    margin-right: 25px;
    padding: 10px 0; }
    .nav-tabs .nav-item:hover {
      text-decoration: none; }
    .nav-tabs .nav-item.active {
      color: #ef2d56;
      background: none;
      border-bottom: 1px solid #ef2d56; }

.tab-content .tab-introduction {
  font-weight: bold;
  font-size: 16px; }

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  z-index: 9999; }
  #loader.loader_fade {
    opacity: 0;
    z-index: -99;
    transition: .5s; }
  #loader .loader_circle {
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    border-radius: 50%;
    border: 2px solid white; }
    #loader .loader_circle.active {
      border-top: 2px solid #ef2d56;
      animation: round 2s linear infinite; }
  #loader .loader_description {
    width: 100%;
    position: absolute;
    top: calc(50% + 75px);
    color: white;
    letter-spacing: 2px;
    font-size: 1.5em;
    text-align: center; }

@keyframes round {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  #navigation .navbar-nav li {
    margin-left: 25px; }
  #navigation .navbar-nav li:last-child {
    border: 1px solid #ef2d56; }
  #navigation.active {
    background: white; }
    #navigation.active a {
      color: black; }

#page-header {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  color: white; }
  #page-header .page-description {
    width: 100%;
    letter-spacing: 2px;
    font-size: 1.2em;
    position: absolute;
    bottom: 100%;
    left: 0; }
    #page-header .page-description:after {
      content: "";
      width: 1px;
      height: 20px;
      background: #ef2d56;
      position: absolute;
      left: 50%;
      top: calc(100% + 5px); }
  #page-header .page-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 5em; }
    #page-header .page-title:after {
      display: none; }
  #page-header .controls {
    padding-bottom: 100px; }
    #page-header .controls .btn {
      margin: 20px 5px;
      display: inline-block; }
  #page-header .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    #page-header .background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%); }
    #page-header .background:after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      left: 0;
      top: 0; }

#page-content {
  width: 100%; }
  #page-content #about {
    padding: 100px 0;
    background: #f9f9f9; }
    #page-content #about p {
      color: #6c747d;
      font-weight: 300;
      text-align: justify;
      font-family: 'Lora', serif;
      line-height: 1.5;
      font-size: 15px; }
    #page-content #about .tab-introduction {
      font-weight: bold; }
    #page-content #about .btn {
      margin-top: 25px;
      cursor: not-allowed;
      background: #ef2d56;
      border: #ef2d56;
      text-decoration: line-through; }
  #page-content #thumbnails {
    width: 100%;
    height: 100px; }
  #page-content #competences {
    width: 100%;
    padding: 100px 0 50px 0;
    color: white;
    background: #191b1d; }
    #page-content #competences .canvas-box {
      position: relative; }
      #page-content #competences .canvas-box canvas {
        width: 100%;
        height: 100px; }
      #page-content #competences .canvas-box .canvas-percentage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center; }
    #page-content #competences .canvas-title {
      text-align: center;
      font-size: 14px;
      padding: 25px 0 10px 0;
      position: relative; }
      #page-content #competences .canvas-title:after {
        content: "";
        width: 40px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: calc(50% - 20px);
        background: #ef2d56; }
    #page-content #competences .additional-infos,
    #page-content #competences .revise-infos {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 100px; }
      #page-content #competences .additional-infos .info-title,
      #page-content #competences .revise-infos .info-title {
        color: #ef2d56;
        margin: 0 25px 0 0;
        padding: 0;
        font-size: 16px; }
        #page-content #competences .additional-infos .info-title:after,
        #page-content #competences .revise-infos .info-title:after {
          display: none; }
      #page-content #competences .additional-infos .language-list,
      #page-content #competences .revise-infos .language-list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap; }
        #page-content #competences .additional-infos .language-list li,
        #page-content #competences .revise-infos .language-list li {
          list-style: none;
          margin-right: 20px;
          font-size: 16px; }
    #page-content #competences .revise-infos {
      margin-top: 0; }
  #page-content #cursus .carousel {
    padding: 100px 0 150px 0; }
  #page-content #cursus .carousel-indicators {
    bottom: 0; }
  #page-content #cursus .carousel-indicators li {
    width: 50px;
    height: 50px;
    background: #dddddd;
    text-indent: 0;
    border: 2px solid #dddddd;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
    font-size: 18px; }
    #page-content #cursus .carousel-indicators li.active {
      color: #ef2d56;
      border-color: #ef2d56; }
    #page-content #cursus .carousel-indicators li:before, #page-content #cursus .carousel-indicators li:after {
      display: none; }
  #page-content #cursus .carousel-inner header {
    border-bottom: 1px solid #dddddd; }
  #page-content #cursus .additional-infos .info-description {
    color: #6c747d;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin: 100px 0 0 0; }
  #page-content #cursus .cursus-item {
    color: #6c747d; }
    #page-content #cursus .cursus-item:hover .cursus-item__header:after {
      background: #ef2d56; }
    #page-content #cursus .cursus-item .cursus-item__header {
      padding: 50px;
      border-right: 1px solid #dddddd;
      position: relative; }
      #page-content #cursus .cursus-item .cursus-item__header:after {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid #ef2d56;
        background: white;
        position: absolute;
        top: 50px;
        right: -6px;
        transition: .3s; }
    #page-content #cursus .cursus-item .cursus-item__content {
      padding: 50px; }
    #page-content #cursus .cursus-item .cursus-title,
    #page-content #cursus .cursus-item .cursus-date {
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 300;
      margin: 0;
      padding: 0;
      text-align: right; }
    #page-content #cursus .cursus-item .cursus-title {
      color: #ef2d56; }
      #page-content #cursus .cursus-item .cursus-title:after {
        display: none; }
    #page-content #cursus .cursus-item .cursus-status,
    #page-content #cursus .cursus-item .cursus-description {
      font-size: 14px;
      font-weight: 300;
      margin: 0;
      padding-left: 15px; }
    #page-content #cursus .cursus-item .cursus-status {
      font-weight: bold;
      padding-left: 15px; }
  #page-content #question {
    padding: 150px 0;
    margin: 100px 0;
    background: url("../img/bg.jpg") center; }
    #page-content #question .btn {
      display: inline-block; }
    #page-content #question .text-center {
      padding: 0; }
  #page-content #projects {
    padding: 0 0 100px 0; }
    #page-content #projects .project-item {
      height: 150px;
      position: relative;
      margin: 0;
      padding: 0; }
      #page-content #projects .project-item:hover .modal-hover {
        opacity: 1; }
      #page-content #projects .project-item .modal-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        color: white;
        opacity: 0;
        transition: .3s; }
        #page-content #projects .project-item .modal-hover .fa {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 3px solid #ef2d56;
          background: white;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          cursor: pointer; }
          #page-content #projects .project-item .modal-hover .fa:hover {
            color: #ef2d56; }
        #page-content #projects .project-item .modal-hover .modal-description {
          position: relative; }
          #page-content #projects .project-item .modal-hover .modal-description:after {
            content: "";
            position: absolute;
            left: calc(50% - 15px);
            bottom: 0;
            width: 30px;
            height: 1px;
            background: #ef2d56; }
    #page-content #projects figure {
      width: 100%;
      height: 100%;
      position: relative; }
      #page-content #projects figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    #page-content #projects .modal-link {
      width: 100%;
      height: 100%;
      position: relative;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none; }
    #page-content #projects .modal-table {
      margin: 100px 0;
      position: relative;
      color: #6c747d; }
      #page-content #projects .modal-table:before {
        content: "";
        position: absolute;
        top: -50px;
        left: calc(50% - 100px);
        width: 200px;
        height: 1px;
        background: #ef2d56; }
      #page-content #projects .modal-table tr:nth-child(1),
      #page-content #projects .modal-table tr:nth-child(2) {
        border-bottom: 1px dashed #6c747d; }
      #page-content #projects .modal-table th {
        font-weight: bold;
        letter-spacing: 2px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column; }
      #page-content #projects .modal-table td {
        padding: 0 25px 25px 25px;
        max-width: 900px; }
        #page-content #projects .modal-table td ul {
          margin: 0;
          padding: 0; }
          #page-content #projects .modal-table td ul li {
            list-style: none; }
  #page-content #contact {
    color: white;
    background: #191b1d; }
    #page-content #contact .section-title {
      margin-bottom: 100px; }
    #page-content #contact .contact {
      padding: 100px 25px 160px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
    #page-content #contact .address-infos tr {
      height: 30px;
      font-size: 20px; }
      #page-content #contact .address-infos tr td:first-child {
        font-size: 24px;
        padding-right: 30px;
        position: relative; }
        #page-content #contact .address-infos tr td:first-child:after {
          content: "";
          position: absolute;
          right: 10px;
          top: calc(50% - 1px);
          background: #ef2d56;
          width: 5px;
          height: 2px; }
  #page-content #googleMap {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }

#page-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  #page-footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #page-footer .footer-content .copyrights {
      height: 60px;
      line-height: 60px;
      margin: 0;
      padding-left: 25px;
      font-style: italic; }
    #page-footer .footer-content .social-networks {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      #page-footer .footer-content .social-networks li {
        width: 40px;
        height: 40px;
        list-style: none;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white; }
        #page-footer .footer-content .social-networks li a {
          font-size: 24px;
          color: white; }
        #page-footer .footer-content .social-networks li:hover {
          border-color: #ef2d56;
          cursor: pointer; }
          #page-footer .footer-content .social-networks li:hover a {
            color: #ef2d56; }

.modal .modal-header {
  background: #f9f9f9;
  text-transform: uppercase; }
.modal .modal-footer {
  background: black;
  color: white; }
.modal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .modal .modal-body .row:first-child {
    max-width: 100%; }
.modal .modal-dialog {
  width: 90% !important;
  max-width: 90% !important; }
.modal .list-inline {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 10px 0 0 0; }
.modal .carousel-inner img {
  max-height: 600px;
  margin: auto;
  display: block; }
.modal .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial; }
.modal .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
  cursor: pointer; }
  .modal .carousel-indicators > li img {
    height: 75px; }
.modal .carousel-indicators > li.active img {
  opacity: 0.7; }
.modal .carousel-indicators > li.disable {
  display: none; }

@media all and (max-width: 768px) {
  .section-header .section-title {
    font-size: 30px; }
  .section-header .section-icon {
    margin: 0;
    padding: 0;
    font-size: 40px; }

  .nav-tabs {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .nav-tabs .nav-item {
      margin-right: 0; }

  .tab-content .tab-introduction {
    font-weight: bold;
    font-size: 16px; }

  #navigation {
    padding: 0;
    margin: 0;
    background: white; }
    #navigation .navbar-collapse {
      background: #f9f9f9;
      border-bottom: 1px solid #dddddd; }
    #navigation .navbar-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      #navigation .navbar-nav li:last-child {
        border: none; }
    #navigation .navbar-brand img {
      height: 40px; }
    #navigation .nav-link {
      color: black; }
    #navigation .navbar-toggler {
      border: none;
      color: black;
      outline: none; }
      #navigation .navbar-toggler .fa {
        font-size: 40px; }

  #page-header .page-title {
    font-size: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 75px; }
  #page-header .page-description {
    font-size: 1em;
    bottom: 90%; }
    #page-header .page-description:after {
      height: 10px; }
  #page-header .row-controls {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 0;
    margin: 0; }
    #page-header .row-controls .controls {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0;
      margin: 0; }
      #page-header .row-controls .controls .nav-link {
        width: 100%;
        margin: 5px 10px; }

  #page-content #about .about__presentation {
    padding: 0 0 50px 0; }
  #page-content #about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  #page-content #competences .column {
    padding-top: 50px; }
    #page-content #competences .column:first-child {
      padding-top: 0; }
  #page-content #competences .canvas-title {
    font-size: 16px; }
  #page-content #competences .additional-infos,
  #page-content #competences .revise-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #page-content #competences .additional-infos .info-title,
    #page-content #competences .revise-infos .info-title {
      margin: 0 0 15px 0; }
    #page-content #competences .additional-infos .language-list,
    #page-content #competences .revise-infos .language-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
  #page-content #competences .revise-infos {
    padding-top: 25px; }
  #page-content #cursus .carousel-inner header {
    border-bottom: none; }
  #page-content #cursus .cursus-item {
    margin-bottom: 25px; }
    #page-content #cursus .cursus-item .row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-bottom: 1px solid #dddddd; }
      #page-content #cursus .cursus-item .row:last-child {
        border: none; }
    #page-content #cursus .cursus-item .cursus-item__header,
    #page-content #cursus .cursus-item .cursus-item__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: none;
      padding: 10px; }
      #page-content #cursus .cursus-item .cursus-item__header:after,
      #page-content #cursus .cursus-item .cursus-item__content:after {
        display: none; }
      #page-content #cursus .cursus-item .cursus-item__header:before,
      #page-content #cursus .cursus-item .cursus-item__content:before {
        display: none; }
  #page-content #projects .project-item {
    padding: 5px 10px; }
    #page-content #projects .project-item:hover .modal-hover {
      opacity: 0; }
  #page-content #contact #googleMap {
    display: none; }
  #page-content #contact #page-footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse; }
  #page-content #contact #page-footer .copyrights {
    height: auto;
    text-align: center;
    line-height: 25px;
    margin: 0;
    padding: 10px; }
    #page-content #contact #page-footer .copyrights span {
      display: block; }
  #page-content #contact #page-footer .social-networks {
    margin-bottom: 25px; }

  .modal .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    min-height: 100%;
    margin: 0;
    padding: 0; } }

/*# sourceMappingURL=default-styles.css.map */
