// VARIABLES
////////////////

$cBlack: rgb(0, 0, 0);
$cBlackOpacity: rgba(0, 0, 0, 0.6);
$cWhite: rgb(255, 255, 255);
$cWhiteOpacity: rgba(255, 255, 255, .4);
$cRed: rgb(239, 45, 86);
$cRedHover: rgb(253, 35, 72);
$cGrey: rgb(108, 116, 125);

$cBorder: rgb(221, 221, 221);
$cBackground: rgb(25, 27, 29);
$cBackground_grey: rgb(249, 249, 249);
// GENERAL
////////////////

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  position: relative;
}

.row {
  margin: 0;
  padding: 0;
}
// TITLES
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;

  position: relative;

  padding: 10px 0;
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  &:after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    background: $cRed;

    width: 50px;
    height: 1px;
  }
}

// Paragrpah {

// COLUMN
.column {
  padding: 0 25px;
}

// LINKS
a {

  &, &.visited {

  }

  &.hover {

  }

  &.active, &.focus {

  }
}

// SECTION
.section-header {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: auto;

  .section-title {

    font-size: 50px;

    padding: 25px 0;
    margin: 0 0 75px 0;
    letter-spacing: 5px;
    &.text-center {
      &:after {
        left: calc(50% - 25px);
      }
    }
  }

  .section-icon {
    margin: 0;
    padding: 0;

    font-size: 40px;
  }

}

// BUTTONS

.btn {

  &.hover {

  }

  &.active {

  }
}

.btn-primary {
  height: 50px;
  line-height: 50px;

  text-transform: uppercase;
  letter-spacing: 1px;

  background: $cRed;

  border: 1px solid $cRed;
  border-radius: 0;

  padding: 0 25px;

  &:hover {
    background: $cRedHover;
    border-color: $cRedHover;
  }

}

.btn-secondary {
  height: 50px;
  line-height: 50px;

  text-transform: uppercase;
  letter-spacing: 1px;

  background: none;

  border: 1px solid $cWhite;
  border-radius: 0;

  padding: 0 25px;

  &:hover {
    background: $cWhite;
    border-color: $cWhite;
    color: $cBlack !important;
  }

}

// NAV-TABS
.nav-tabs {
  border-bottom: 1px solid $cBorder;

  margin-bottom: 25px;
  .nav-item {
    color: $cBlack;
    border: none;

    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 100;

    font-family: 'Montserrat', sans-serif;

    margin-right: 25px;
    padding: 10px 0;
    &:hover {
      text-decoration: none;
    }
    &.active {
      color: $cRed;

      background: none;
      border-bottom: 1px solid $cRed;
    }
  }
}

.tab-content {

  .tab-introduction {
    font-weight: bold;
    font-size: 16px;

  }

}

// LOADER
////////////////

#loader {

  height: 100%;
  width: 100%;

  position: fixed;
  left: 0;
  top: 0;

  background: #000;

  z-index: 9999;

  &.loader_fade {

    opacity: 0;
    z-index: -99;

    transition: .5s;
  }

  .loader_circle {
    width: 100px;
    height: 100px;

    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);

    border-radius: 50%;

    border: 2px solid $cWhite;

    &.active {
      border-top: 2px solid $cRed;

      animation: round 2s linear infinite;
    }
  }

  .loader_description {
    width: 100%;

    position: absolute;
    top: calc(50% + 75px);

    color: $cWhite;
    letter-spacing: 2px;
    font-size: 1.5em;

    text-align: center;
  }

}

@keyframes round {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

// NAVIGATION
////////////////
#navigation {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  .navbar-nav {
    li {
      margin-left: 25px;
    }
    li:last-child {
      border: 1px solid $cRed;

    }
  }
  &.active {
    background: $cWhite;

    a {
      color: $cBlack;
    }

    .navbar-nav {

    }
  }

}

// HEADER
////////////////

#page-header {

  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;

  color: $cWhite;

  .page-description {
    width: 100%;
    letter-spacing: 2px;

    font-size: 1.2em;

    position: absolute;
    bottom: 100%;
    left: 0;

    &:after {
      content: "";

      width: 1px;
      height: 20px;

      background: $cRed;

      position: absolute;
      left: 50%;
      top: calc(100% + 5px);
    }
  }

  .page-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 5em;

    &:after {
      display: none;
    }
  }

  .controls {
    padding-bottom: 100px;

    .btn {
      margin: 20px 5px;
      display: inline-block;
    }
  }

  .background {
    width: 100%;
    height: 100%;

    position: absolute;

    z-index: -1;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;

      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    &:after {
      content: "";

      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, .6);

      position: absolute;
      left: 0;
      top: 0;
    }
  }

  // VIDEO
  ////////////////

}

// MAIN
////////////////

#page-content {

  width: 100%;

  // ABOUT
  ////////////////

  #about {

    padding: 100px 0;
    background: $cBackground_grey;

    p {
      color: $cGrey;
      font-weight: 300;
      text-align: justify;
      font-family: 'Lora', serif;
      line-height: 1.5;
      font-size: 15px;
    }

    .tab-introduction {
      font-weight: bold;
    }
    .btn {
      margin-top: 25px;

      cursor: not-allowed;
      background: $cRed;
      border: $cRed;

      text-decoration: line-through;
    }
  }

  // THUMBNAILS
  ////////////////

  #thumbnails {

    width: 100%;
    height: 100px;
  }

  // COMPETENCES
  ////////////////

  #competences {
    width: 100%;

    padding: 100px 0 50px 0;

    color: $cWhite;
    background: $cBackground;

    .canvas-box {
      position: relative;

      canvas {
        width: 100%;
        height: 100px;
      }

      .canvas-percentage {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        font-size: 24px;

        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .canvas-title {
      text-align: center;
      font-size: 14px;
      padding: 25px 0 10px 0;

      position: relative;
      &:after {
        content: "";
        width: 40px;
        height: 1px;

        position: absolute;
        bottom: 0;
        left: calc(50% - 20px);

        background: $cRed;
      }
    }

    .additional-infos,
    .revise-infos {

      display: flex;
      align-items: center;
      justify-content: flex-start;

      margin-top: 100px;
      .info-title {
        color: $cRed;

        margin: 0 25px 0 0;
        padding: 0;
        font-size: 16px;

        &:after {
          display: none;
        }
      }

      .language-list {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
          list-style: none;

          margin-right: 20px;
          font-size: 16px;
        }
      }
    }

    .revise-infos {
      margin-top: 0;
    }

  }

  // CURSUS
  ////////////////

  #cursus {

    .carousel {
      padding: 100px 0 150px 0;
    }

    .carousel-indicators {
      bottom: 0;
    }
    .carousel-indicators li {

      width: 50px;
      height: 50px;

      background: $cBorder;
      text-indent: 0;

      border: 2px solid $cBorder;
      background: none;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      color: $cBorder;

      font-size: 18px;

      &.active {
        color: $cRed;
        border-color: $cRed;
      }

      &:before,
      &:after {
        display: none;
      }
    }

    .carousel-inner {

      header {
        border-bottom: 1px solid $cBorder;
      }
    }

    .additional-infos {
      .info-description {
        color: $cGrey;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 1px;

        text-align: center;
        margin: 100px 0 0 0;
      }
    }
    .cursus-item {

      color: $cGrey;

      &:hover {
        .cursus-item__header {
          &:after {
            background: $cRed;
          }
        }
      }
      .cursus-item__header {
        padding: 50px;
        border-right: 1px solid $cBorder;
        position: relative;

        &:after {
          content: "";

          width: 12px;
          height: 12px;

          border-radius: 50%;
          border: 2px solid $cRed;

          background: $cWhite;
          position: absolute;
          top: 50px;
          right: -6px;

          transition: .3s;
        }
      }

      .cursus-item__content {
        padding: 50px;
      }

      .cursus-title,
      .cursus-date {
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 300;

        margin: 0;
        padding: 0;

        text-align: right;
      }
      .cursus-title {
        color: $cRed;

        &:after {
          display: none;
        }
      }

      .cursus-status,
      .cursus-description {
        font-size: 14px;
        font-weight: 300;

        margin: 0;
        padding-left: 15px;
      }

      .cursus-status {
        font-weight: bold;
        padding-left: 15px;
      }
    }
  }

  // QUESTION
  ////////////////

  #question {
    padding: 150px 0;
    margin: 100px 0;

    background: url('../img/bg.jpg') center;

    .btn {
      display: inline-block;
    }

    .text-center{
      padding: 0;
    }
  }

  // PROJECTS
  ////////////////

  #projects {

    padding: 0 0 100px 0;

    .project-item {
      height: 150px;

      position: relative;

      margin: 0;
      padding: 0;

      &:hover {
        .modal-hover {
          opacity: 1;
        }
      }

      .modal-hover {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        margin: 0;
        padding: 0;

        background: $cBlackOpacity;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        color: $cWhite;

        opacity: 0;

        transition: .3s;

        .fa {
          width: 60px;
          height: 60px;

          border-radius: 50%;
          border: 3px solid $cRed;
          background: $cWhite;

          color: $cBlack;

          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 24px;

          cursor: pointer;

          &:hover {
            color: $cRed;
          }

        }

        .modal-description {
          position: relative;

          &:after {
            content: "";

            position: absolute;
            left: calc(50% - 15px);
            bottom: 0;

            width: 30px;
            height: 1px;

            background: $cRed;
          }
        }
      }
    }

    figure {

      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }
    .modal-link {
      width: 100%;
      height: 100%;

      position: relative;

      border: none;
      background: none;

      margin: 0;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;

    }

    .modal-table {
      margin: 100px 0;

      position: relative;

      color: $cGrey;

      &:before {
        content: "";

        position: absolute;
        top: -50px;
        left: calc(50% - 100px);

        width: 200px;
        height: 1px;

        background: $cRed;

      }

      tr:nth-child(1),
      tr:nth-child(2) {
        border-bottom: 1px dashed $cGrey;
      }
      th {
        font-weight: bold;
        letter-spacing: 2px;

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

      }
      td {
        padding: 0 25px 25px 25px;
        max-width: 900px;
        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
          }
        }
      }
    }

  }

  // CONTACT
  ////////////////

  #contact {

    color: $cWhite;
    background: $cBackground;

    .section-title {
      margin-bottom: 100px;
    }
    .contact {
      padding: 100px 25px 160px 25px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

    }

    .address-infos {

      tr {
        height: 30px;
        font-size: 20px;
        td:first-child {
          font-size: 24px;
          padding-right: 30px;

          position: relative;
          &:after {
            content: "";

            position: absolute;
            right: 10px;
            top: calc(50% - 1px);

            background: $cRed;

            width: 5px;
            height: 2px;
          }
        }
      }
    }

  }

  // GOOGLE MAP
  ////////////////

  #googleMap {
    width: 100%;
    height: 100%;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

}

// FOOTER
////////////////

#page-footer {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  .footer-content {

    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyrights {
      height: 60px;
      line-height: 60px;

      margin: 0;
      padding-left: 25px;
      font-style: italic;

    }

    .social-networks {

      margin: 0;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      li {
        width: 40px;
        height: 40px;

        list-style: none;

        margin-right: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $cWhite;

        a {

          font-size: 24px;
          color: $cWhite;

        }

        &:hover {

          border-color: $cRed;
          cursor: pointer;
          a {
            color: $cRed;
          }
        }
      }
    }
  }

}

.modal {

  .modal-header {
    background: $cBackground_grey;
    text-transform: uppercase;
  }

  .modal-footer {
    background: $cBlack;
    color: $cWhite;
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .row:first-child {
      max-width: 100%;
    }
  }
  .modal-dialog {
    width: 90% !important;
    max-width: 90% !important;
  }

  .list-inline {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0 0 0;

  }

  .carousel-inner {

    .carousel-item {

    }
    img {
      max-height: 600px;
      margin: auto;
      display: block;
    }

  }
  .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
  }

  .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
    cursor: pointer;

    img {
      height: 75px;
    }
  }

  .carousel-indicators > li.active img {
    opacity: 0.7;
  }

  .carousel-indicators > li.disable {
    display: none;
  }
}

////////////////////////////////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////////////////////////////////

// SMARTPHONE
@media all and (max-width: 768px) {

  // SECTION
  .section-header {

    .section-title {

      font-size: 30px;

    }

    .section-icon {
      margin: 0;
      padding: 0;

      font-size: 40px;
    }

  }

  // NAV-TABS
  .nav-tabs {

    width: 100%;

    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-item {
      margin-right: 0;
    }
  }

  .tab-content {

    .tab-introduction {
      font-weight: bold;
      font-size: 16px;

    }

  }

  // NAVIGATION
  ////////////////
  #navigation {

    padding: 0;
    margin: 0;

    background: $cWhite;

    .navbar-collapse {
      background: $cBackground_grey;
      border-bottom:1px solid $cBorder;
    }
    .navbar-nav {

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      li:last-child {
        border:none;
      }
    }

    .navbar-brand {
      img {
        height: 40px;
      }
    }
    .container {

    }

    .nav-link {
      color: $cBlack;


    }
    .navbar-toggler {
      border: none;
      color: $cBlack;

        outline: none;


      .fa {

        font-size: 40px;
      }
    }

  }

  // HEADER
  ////////////////

  #page-header {

    .page-title {
      font-size: 3em;
    }

    .row-controls {

      width: 100%;

      position: absolute;
      bottom: 5px;
      left: 0;

      padding: 0;
      margin: 0;

      .controls {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding: 0;
        margin: 0;

        .nav-link {
          width: 100%;
          margin: 5px 10px;
        }
      }

    }
  }
  // MAIN
  ////////////////
  #page-content {

    // ABOUT
    ////////////////
    #about {

      .column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    // COMPETENCES
    ////////////////
    #competences {

      .column {
        padding-top: 50px;

        &:first-child {
          padding-top: 0;
        }
      }

      .canvas-title {
        font-size: 16px;
      }

      .additional-infos,
      .revise-infos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .info-title {
          margin: 0 0 15px 0;
        }
        .language-list {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }

      .revise-infos {
        padding-top: 25px;
      }
    }

    // CURSUS
    ////////////////

    #cursus {

      .carousel-inner {

        header {
          border-bottom: none;
        }
      }
      .cursus-item {

        margin-bottom: 25px;
        .row {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          border-bottom: 1px solid $cBorder;

          &:last-child {
            border: none;
          }
        }

        .cursus-item__header,
        .cursus-item__content {

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          border: none;

          padding: 10px;

          &:after {
            display: none;
          }

          &:before {
            display: none;
          }

        }

      }
    }
    // PROJECTS
    ////////////////

    #projects {
      .project-item {
        padding: 5px 10px;

        &:hover {
          .modal-hover {
            opacity: 0;
          }
        }
      }
    }

    // CONTACT
    ////////////////

    #contact {

      #googleMap {
        display: none;
      }
      // FOOTER
      ////////////////

      #page-footer {

        .footer-content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column-reverse;
        }

        .copyrights {
          height: auto;
          text-align: center;
          line-height: 25px;

          margin: 0;
          padding: 10px;

          span {
            display: block;
          }
        }

        .social-networks {
          margin-bottom: 25px;
        }
      }

    }
  }

  .modal-dialog {
    width: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0;
  }
}

// TABLETTE

@media all and (max-width: 992px) {

}


